---
import Span from "../elements/Alink.astro";
import Logo from "../multimedia/logo.astro";
import ThemeIcon from "../ThemeIcon.astro";
import es from "../../i18n/es";
import en from "../../i18n/en";
import type { Language } from "../../typeslang/language.type";

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];

const languages = [
    { code: "es", label: t.languageOptions.es },
    { code: "en", label: t.languageOptions.en },
];

const url = new URL(Astro.request.url);
const myPaht = url.pathname;

const maintcont = () => (myPaht === `/${lang}/` ? "maincont" : "");
---

<!-- shadow-lg x-auto w-full min-h-fit flex flex-wrap justify-center items-center
gap-5 font-bold py-1.5 fixed top-0 bg-white -->
<nav
    class={`${maintcont()} z-50 navbar-center flex flex-wrap shadow-sm w-full
 font-bold fixed top-0 bg-gray-400 text-gray-50 h-auto`}
>
    <div class="w-full flex flex-wrap md:flex md:items-center md:gap-2">
        <div class="w-full max-h-15 flex items-center md:justify-evenly">
            <div
                class="navbar-start flex items-center justify-between max-md:w-full gap-3.5"
            >
                <Logo />
                <a class="w-full font-bold text-gray-700 no-underline" href="/">
                    <Span
                        styless="text-gray-100 text-xl"
                        texto={t.nav.titlepage}
                    />
                </a>

                <!-- icono para menu en modo dispositivo celular o menor a 760px -->
                <div class="md:hidden mr-5 flex">
                    <button
                        type="button"
                        class="btn btn-outline btn-secondary btn-sm btn-square"
                        onclick="document.getElementById('default-navbar-collapse').classList.toggle('hidden')"
                        aria-label="Toggle navigation"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#00047a"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path>
                            <path d="M4 6l16 0"></path>
                            <path d="M4 12l16 0"></path>
                            <path d="M4 18l16 0"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- elementos para navegar -->
        <div
            id="default-navbar-collapse"
            class="hidden md:flex grow basis-full flex-wrap overflow-hidden transition-[height] duration-300 max-md:w-full max-md:flex-col max-md:mt-2"
        >
            <ul
                class="flex md:flex-row flex-col justify-evenly p-0  gap-10 w-full"
            >
                <li>
                    <a href={`/${lang}/`}>
                        <Span
                            styless="hvr-underline-from-center text-xl"
                            texto={t.nav.homme}
                        />
                    </a>
                </li>
                <li>
                    <a href={`/${lang}/gallery`}>
                        <Span
                            styless="hvr-underline-from-center text-xl"
                            texto={t.nav.gallery}
                        />
                    </a>
                </li>
                <li>
                    <a href={`/${lang}/about`}>
                        <Span
                            styless="hvr-underline-from-center text-xl"
                            texto={t.nav.about}
                        />
                    </a>
                </li>
                <li>
                    <ThemeIcon />
                </li>
                <li>
                    <form id="lang-form">
                        <label for="lang-select">{t.languageLabel}: </label>
                        <select id="lang-select">
                            {
                                languages.map((langOpt) => (
                                    <option
                                        value={langOpt.code}
                                        selected={langOpt.code === lang}
                                    >
                                        {langOpt.label}
                                    </option>
                                ))
                            }
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
